.gradle
.idea
/build
*.swp
.pull-state
behovsakkumulator
bomlo-bigquery-terraform
bomlo-cli
bomlo-data-analyse
bomlo-dbt
dataprodukter
helse
omrade-helse-etterlevelse-topic
rapids-and-rivers-cli
redteam
risk-mock
spaghet
spalten
spammer
spanner
spapi
spare
sparkel-norg
sparkelapper
sparkiv-subsumsjon
sparsom
speaker
spedisjon
speed
speider
speil
spekemat
spenn
spennende
spesialist
spesidaler
spetakkel
spill-av-im
spillkar
spinnvill
spiskammerset
spleis
spleis-testdata
spleisesparkel
spock
spoiler
spokelse
spoken
spoogle
sporbar
sporing
sportsrevyen
spotlight
spout
spre
spre-gosys-pdf
spregulering
sprute
spurtedu
spydig
tbd
tbd-libs
vedtaksfeed
ws-proxy
